<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="BOOK'S STORAGE">
    <meta name="keywords" content=”html,javascript,css”>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/assets/css/style.css}" />
</head>
<body>
<header class="background-blue">
    <nav>
        <ul>
            <li><a href="http://localhost:8080/">Home</a></li>
            <li><a href="http://localhost:8080/records/books">List</a></li>
            <li><a href="http://localhost:8080/records/books/add">New record</a></li>
            <li><a href="http://localhost:8080/records/books/delete">Delete record</a></li>
        </ul>
    </nav>
</header>
<main>
    <section id="description">
        <div>
            <h3>THE LIST OF BOOKS</h3>
            <div class="underline"></div>
        </div>
    </section>
</main>
<footer class="background-blue"><br></footer>
</body>
</html>